<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<!--<wellknown type="IMTBConnection, MTBKernel" url="tcp://zg01q126:8085/MTBServer" />-->
				<wellknown type="ZEISS.MTB.Api.IMTBConnection, MTBApi" url="tcp://localhost:8085/MTBServer" />
				<wellknown type="ZEISS.MTB.Api.IMTBClientHeartbeat, MTBApi" url="tcp://localhost:8085/MTBHeartbeat" />
			</client>
			<channels>
				<!-- The "0" port is declared to allow remoting to choose -->
				<!-- the most appropriate channel. You must specify a channel -->
				<!-- here, however; if you do not do so, your ChatClient -->
				<!-- will not be listening for the call back from the -->
				<!-- ChatCoordinator object. -->
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>