File raid.current.config receiving all output.

COMMAND: open "afa0" 
Executing: open "afa0" 

COMMAND: container list 
Executing: container list 
Num          Total  Oth Chunk          Scsi   Partition    
Label Type   Size   Ctr Size   Usage   B:ID:L Offset:Size  
----- ------ ------ --- ------ ------- ------ -------------
 0    Mirror  931GB            Valid   0:01:0 64.0KB: 931GB 
 /dev/sda             Mirro01          0:00:0 64.0KB: 931GB 

 1    Mirror  931GB            Valid   0:02:0 64.0KB: 931GB 
 /dev/sdb             Mirror23         0:03:0 64.0KB: 931GB 

 2    Mirror  931GB            Valid   0:04:0 64.0KB: 931GB 
 /dev/sdc             Mirror45         0:05:0 64.0KB: 931GB 


COMMAND: disk list 
Executing: disk list 

B:ID:L  Device Type     Blocks    Bytes/Block Usage            Shared Rate
------  --------------  --------- ----------- ---------------- ------ ----
0:00:0   Disk            1953525168 512         Initialized      NO     132 
0:01:0   Disk            1953525168 512         Initialized      NO     132 
0:02:0   Disk            1953525168 512         Initialized      NO     132 
0:03:0   Disk            1953525168 512         Initialized      NO     132 
0:04:0   Disk            1953525168 512         Initialized      NO     132 
0:05:0   Disk            1953525168 512         Initialized      NO     132 

COMMAND: logfile end 
Executing: logfile end 
